/* aタグ用リセットスタイル */
h1 {
  color: #000;
  text-decoration: none;
}

/* 字間が広がるアニメーション */
.text {
  font-size: 60px;
  transition: letter-spacing 0.3s;
}

.text:hover {
  letter-spacing: 0.05em; /* 字間の設定 */
}
