/*
 * test.css - ひな型
 */

/* h1 要素のスタイル */
h1 {
    color: #f0f0f0;
    font-size: 24px; /* 見出しレベル1の文字サイズを指定 */
}

/* h2 要素のスタイル */
h2 {
    font-size: 20px; /* 見出しレベル2の文字サイズを指定 */
}

/* p 要素のスタイル */
p {
    font-size: 16px; /* 段落の文字サイズを指定 */
}
